<!--<p class="card-text">Die Bewerbung schließt in:</p>-->
<div class="container pb-4 pt-1">
  <div class="row">
    <div class="col-6 col-xl-3 countdown">
      <span id="days"> {{daysToDday}} </span>Tage
    </div>
    <div class="col-6 col-xl-3 countdown">
      <span id="hours"> {{hoursToDday}} </span>Stunden
    </div>
    <div class="col-6 col-xl-3 countdown">
      <span id="minutes"> {{minutesToDday}} </span>Minuten
    </div>
    <div class="col-6 col-xl-3 countdown">
      <span id="seconds"> {{secondsToDday}} </span>Sekunden
    </div>
  </div>
</div>
