<div [ngStyle]="{ color: this.siteColor }">
  <div
    [ngStyle]="{ 'background-position': 'top' }"
    [style.background-image]="'url(./assets/pics/alumnis/landing.jpg)'"
    [style.background-color]="this.siteColor"
    class="fullscreen-landing"
    title="Martin und Henri"
  >
  <div class="container">
    <div class="landing-headline">
      <h1>Our Alumnis</h1>
      <h2 class="text-white headline-wrapper">
        <span [ngStyle]="{ backgroundColor: this.siteColor }"
          >Im Berufsleben noch vernetzt bleiben.</span
        >
      </h2>
    </div>
  </div>
  </div>

  <div class="container">
    <!-- Aktiv bis 2020-->

    <h2 class="text-center margin">Aktiv bis 2020</h2>

    <div class="row my-3 d-flex flex-wrap">
      <div class="col-lg-12 text-center margin">
        <img
          class="profile-pic"
          src="assets/pics/alumnis/alumnis/Jonas_Michelberger.jpg"
          alt="Jonas Michelberger"
        />
        <h5 class="pt-3">Jonas Michelberger</h5>
        <p>Koordinator externe Projekte</p>
        <p>2019/2020</p>
        <button
          type="button"
          class="btn btn-link size"
          onclick="location.href='https://www.linkedin.com/in/jonas-michelberger-0b500a151/'"
        >
          <svg-icon
            class="align-self-center p-2"
            src="./assets/streamline-light/53-logos/07-professional networks/professional-network-linkedin.svg"
            [svgStyle]="{ 'width.px': 25 }"
          ></svg-icon>
        </button>
      </div>
    </div>

    <!-- Aktiv bis 2019-->

    <h2 class="text-center margin">Aktiv bis 2019</h2>

    <div class="row my-3 d-flex flex-wrap">
      <div class="col-lg-12 text-center margin">
        <img
          class="profile-pic"
          src="assets/pics/alumnis/alumnis/Hendrik_Schmidt.jpg"
          alt="Hendrik Schmidt"
        />
        <h5 class="pt-3">Hendrik Schmidt</h5>
        <p>Projektleitung: Hands-On Data Science</p>
        <p>2018/2019</p>
        <p>Vorstand</p>
        <p>2017/2018</p>
      </div>
    </div>
    <!-- Aktiv bis 2018-->

    <h2 class="text-center margin">Aktiv bis 2018</h2>

    <div class="row my-3 d-flex flex-wrap">
      <div class="col-lg-4 text-center margin">
        <img
          class="profile-pic"
          src="assets/pics/alumnis/alumnis/Patrick_Schmid.jpg"
          alt="Patrick Schmid"
        />
        <h5 class="pt-3">Patrick Schmid</h5>
        <p>Leitung Corporate Design</p>
        <p>2017/2018</p>

        <button
          type="button"
          class="btn btn-link size"
          onclick="location.href='https://www.linkedin.com/in/p-schmid/'"
        >
          <svg-icon
            class="align-self-center p-2"
            src="./assets/streamline-light/53-logos/07-professional networks/professional-network-linkedin.svg"
            [svgStyle]="{ 'width.px': 25 }"
          ></svg-icon>
        </button>
      </div>
      <div class="col-lg-4 text-center margin">
        <img
          class="profile-pic"
          src="assets/pics/alumnis/alumnis/Sebastian_Findeisen.jpg"
          alt="Sebastian Findeisen"
        />
        <h5 class="pt-3">Sebastian Findeisen</h5>
        <p>Vorstand</p>
        <p>2017/2018</p>
        <p>Koordinator externe Projekte</p>
        <p>2016/2018</p>
        <button
          type="button"
          class="btn btn-link size"
          onclick="location.href='https://www.linkedin.com/in/sebastian-findeisen-56004685/'"
        >
          <svg-icon
            class="align-self-center p-2"
            src="./assets/streamline-light/53-logos/07-professional networks/professional-network-linkedin.svg"
            [svgStyle]="{ 'width.px': 25 }"
          ></svg-icon>
        </button>
      </div>
      <div class="col-lg-4 text-center margin">
        <img
          class="profile-pic"
          src="assets/pics/alumnis/alumnis/Florian_Goebel.jpg"
          alt="Florian Göbel"
        />
        <h5 class="pt-3">Florian Göbel</h5>
        <p>Ressortleiter IT</p>
        <p>2017/2018</p>
      </div>
      <div class="col-lg-12 text-center margin">
        <img
          class="profile-pic"
          src="assets/pics/alumnis/alumnis/Henrik_Wasserfuhr.jpg"
          alt="Henrik Wasserfuhr"
        />
        <h5 class="pt-3">Henrik Wasserfuhr</h5>
        <p>Ressortleiter Smart Factory</p>
        <p>2017/2018</p>
        <p>Ressortleiter Research</p>
        <p>2016/2017</p>
        <button
          type="button"
          class="btn btn-link size"
          onclick="location.href='https://www.linkedin.com/in/henrik-wasserfuhr-0aa702176/'"
        >
          <svg-icon
            class="align-self-center p-2"
            src="./assets/streamline-light/53-logos/07-professional networks/professional-network-linkedin.svg"
            [svgStyle]="{ 'width.px': 25 }"
          ></svg-icon>
        </button>
      </div>
    </div>
    <!-- Aktiv bis 2017-->

    <h2 class="text-center margin">Aktiv bis 2017</h2>

    <div class="row my-3 d-flex flex-wrap">
      <div class="col-lg-4 text-center margin">
        <img
          class="profile-pic"
          src="assets/pics/alumnis/alumnis/Christoph_Bamberger.jpg"
          alt="Christoph Bamberger"
        />
        <h5 class="pt-3">Christoph Bamberger</h5>
        <p>Vorstand</p>
        <p>2016/2017</p>
        <button
          type="button"
          class="btn btn-link size"
          onclick="location.href='https://www.linkedin.com/in/chris-bamberger/'"
        >
          <svg-icon
            class="align-self-center p-2"
            src="./assets/streamline-light/53-logos/07-professional networks/professional-network-linkedin.svg"
            [svgStyle]="{ 'width.px': 25 }"
          ></svg-icon>
        </button>
      </div>
      <div class="col-lg-4 text-center margin">
        <img
          class="profile-pic"
          src="assets/pics/alumnis/alumnis/aljoscha_vb.jpg"
          alt="Aljoscha von Bismarck"
        />
        <h5 class="pt-3">Aljoscha von Bismarck</h5>
        <p>Vorstand</p>
        <p>2016/2017</p>
        <button
          type="button"
          class="btn btn-link size"
          onclick="location.href='https://www.linkedin.com/in/vonbismarck/'"
        >
          <svg-icon
            class="align-self-center p-2"
            src="./assets/streamline-light/53-logos/07-professional networks/professional-network-linkedin.svg"
            [svgStyle]="{ 'width.px': 25 }"
          ></svg-icon>
        </button>
      </div>
      <div class="col-lg-4 text-center margin">
        <img
          class="profile-pic"
          src="assets/pics/alumnis/alumnis/Diego_Aviles.jpg"
          alt="Diego Aviles"
        />
        <h5 class="pt-3">Diego Aviles</h5>
        <p>Ressortleiter IT</p>
        <p>2016/2017</p>
        <button
          type="button"
          class="btn btn-link size"
          onclick="location.href='https://www.linkedin.com/in/avilesdiego/'"
        >
          <svg-icon
            class="align-self-center p-2"
            src="./assets/streamline-light/53-logos/07-professional networks/professional-network-linkedin.svg"
            [svgStyle]="{ 'width.px': 25 }"
          ></svg-icon>
        </button>
      </div>
      <div class="col-lg-6 text-center margin">
        <img
          class="profile-pic"
          src="assets/pics/alumnis/alumnis/Sophie_Hohler.jpg"
          alt="Sophie Hohler"
        />
        <h5 class="pt-3">Sophie Hohler</h5>
        <p>Ressortleiterin Akquise</p>
        <p>2016/2017</p>
        <button
          type="button"
          class="btn btn-link size"
          onclick="location.href='https://www.linkedin.com/in/sophie-hohler/?originalSubdomain=de'"
        >
          <svg-icon
            class="align-self-center p-2"
            src="./assets/streamline-light/53-logos/07-professional networks/professional-network-linkedin.svg"
            [svgStyle]="{ 'width.px': 25 }"
          ></svg-icon>
        </button>
      </div>
      <div class="col-lg-6 text-center margin">
        <img
          class="profile-pic"
          src="assets/pics/alumnis/alumnis/Raphael_Mack.jpg"
          alt="Raphael Mack"
        />
        <h5 class="pt-3">Raphael Mack</h5>
        <p>Ressortleiter IT</p>
        <p>2016/2017</p>
        <button
          type="button"
          class="btn btn-link size"
          onclick="location.href='https://www.linkedin.com/in/raphaelmack/'"
        >
          <svg-icon
            class="align-self-center p-2"
            src="./assets/streamline-light/53-logos/07-professional networks/professional-network-linkedin.svg"
            [svgStyle]="{ 'width.px': 25 }"
          ></svg-icon>
        </button>
      </div>
    </div>

    <!-- Aktiv bis 2016-->

    <h2 class="text-center margin">Aktiv bis 2016</h2>

    <div class="row my-3 d-flex flex-wrap">
      <div class="col-lg-4 text-center margin">
        <img
          class="profile-pic"
          src="assets/pics/alumnis/alumnis/Paul_Liepe.jpg"
          alt="Paul Liepe"
        />
        <h5 class="pt-3">Paul Liepe</h5>
        <p>Gründer und Vorstand</p>
        <p>2015/2016</p>

        <button
          type="button"
          class="btn btn-link size"
          onclick="location.href='https://www.linkedin.com/in/paulliepe/'"
        >
          <svg-icon
            class="align-self-center p-2"
            src="./assets/streamline-light/53-logos/07-professional networks/professional-network-linkedin.svg"
            [svgStyle]="{ 'width.px': 25 }"
          ></svg-icon>
        </button>
      </div>
      <div class="col-lg-4 text-center margin">
        <img
          class="profile-pic"
          src="assets/pics/alumnis/alumnis/Eugen_Freitag.jpg"
          alt="Eugen Freitag"
        />
        <h5 class="pt-3">Eugen Freitag</h5>
        <p>Vorstand</p>
        <p>2015/2016</p>
        <button
          type="button"
          class="btn btn-link size"
          onclick="location.href='https://www.linkedin.com/in/eugenfreitag/?originalSubdomain=de'"
        >
          <svg-icon
            class="align-self-center p-2"
            src="./assets/streamline-light/53-logos/07-professional networks/professional-network-linkedin.svg"
            [svgStyle]="{ 'width.px': 25 }"
          ></svg-icon>
        </button>
      </div>
      <div class="col-lg-4 text-center margin">
        <img
          class="profile-pic"
          src="assets/pics/alumnis/alumnis/Christian_Lange.jpg"
          alt="Christian Lange"
        />
        <h5 class="pt-3">Christian Lange</h5>
        <p>Ressortleiter Finanzen</p>
        <p>2015/2016</p>
      </div>
      <div class="col-lg-6 text-center margin">
        <img
          class="profile-pic"
          src="assets/pics/alumnis/alumnis/Theresa_Leible.jpg"
          alt="Theresa Leible"
        />
        <h5 class="pt-3">Theresa Leible</h5>
        <p>Ressortleiterin Research</p>
        <p>2015/2016</p>
        <button
          type="button"
          class="btn btn-link size"
          onclick="location.href='https://www.linkedin.com/in/theresa-leible-592916165/'"
        >
          <svg-icon
            class="align-self-center p-2"
            src="./assets/streamline-light/53-logos/07-professional networks/professional-network-linkedin.svg"
            [svgStyle]="{ 'width.px': 25 }"
          ></svg-icon>
        </button>
      </div>
      <div class="col-lg-6 text-center margin">
        <img
          class="profile-pic"
          src="assets/pics/alumnis/alumnis/Regina_Pfaff.jpg"
          alt="Regina Pfaff"
        />
        <h5 class="pt-3">Regina Pfaff</h5>
        <p>Ressortleiterin Research</p>
        <p>2015/2016</p>

        <button
          type="button"
          class="btn btn-link size"
          onclick="location.href='https://www.linkedin.com/in/regina-pfaff/'"
        >
          <svg-icon
            class="align-self-center p-2"
            src="./assets/streamline-light/53-logos/07-professional networks/professional-network-linkedin.svg"
            [svgStyle]="{ 'width.px': 25 }"
          ></svg-icon>
        </button>
      </div>
    </div>
  </div>
</div>
