<div [ngStyle]="{ color: this.siteColor }">
<!--Vollbild Landing Seite-->
  <div
    [style.background-image]="'url(./assets/pics/404/background.jpg)'"
    [style.background-color]="this.siteColor"
    class="fullscreen-landing"
  >
    <div class="not-found-wrapper">
      <img
      class="center-img"
      src="assets/pics/404/base_layer.png"
      alt="Page not found"
    />
    <img
    class="center-img animate-flicker"
    src="assets/pics/404/glow_layer.png"
    alt="Page not found"
  />

  </div>
  <div class="container">
      <a class="text-white text-bottom" href="https://www.instagram.com/julezlettering/">Artwork by Julez Lettering</a>
  </div>

</div>
</div>
